@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: cursive;
  background-color: #f5f3f0;
}

.left-side {
  background-color: #f7f9fa;
  width: 250px;
  transition: all 0.1s linear;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0 1rem;
}
.left-side img {
  margin-top: 2rem;
}
.left-side a {
  display: block;
  border: rgb(180, 255, 5) 0px solid !important;
  color: white;
  background-color: #f29624;
  box-shadow: 0px 10px 10px rgba(242, 150, 36, 0.4);
}
.left-side a:hover {
  box-shadow: 0px 15px 10px rgba(242, 150, 36, 0);
}
.left-side .left-tabs-ingredients, .left-side .left-tabs-area, .left-side a {
  width: 100%;
  border: rgba(0, 0, 0, 0.164) 1px solid;
  padding: 7px 19px;
  border-radius: 10px;
  margin-bottom: 1.3rem;
  transition-duration: 0.2s;
  font-weight: 500;
}
.left-side .left-tabs-ingredients:hover, .left-side .left-tabs-area:hover, .left-side a:hover {
  transform: scale(1.06);
  cursor: pointer;
}
.right-side {
  position: absolute;
  right: 0px;
  background-color: #f5f3f0;
}

.home-page {
  padding-bottom: 30px;
}
.home-page .home-title {
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Pacifico", serif;
  background-image: linear-gradient(to right, #f29624, rgba(201, 5, 25, 0.8156862745), rgba(201, 5, 25, 0.8352941176));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  margin: 1.7rem 0rem 1.8rem 0rem;
}
.home-page .home-tabs {
  margin-bottom: 3rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.home-page .home-tabs a {
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px rgba(0, 0, 0, 0.322) solid;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.507);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.041);
  transition: all 0.3s;
}
.home-page .home-tabs a:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.267);
  background-color: white;
}
.home-page select {
  margin-bottom: 2rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.151);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-transform: capitalize;
  font-weight: 200;
}

.active {
  background-color: black;
  color: white !important;
}
.active:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.267);
  background-color: black !important;
}

.display-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  row-gap: 4.3rem;
}
.display-card .card {
  text-align: center;
  padding: 0rem 10px;
}
.display-card .card .inner {
  min-height: 310px;
  position: relative;
  transition: all 0.5s;
  border-radius: 30px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
}
.display-card .card .inner:hover {
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.267);
  transform: scale(1.05);
}
.display-card .card .inner:hover img {
  transform: translateY(-3rem) rotate(1turn);
}
.display-card .card .inner img {
  position: relative;
  transform: translateY(-3rem) rotate(0turn);
  margin: auto;
  aspect-ratio: 1/1;
  border-radius: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.384);
  transition: all 0.5s;
}
.display-card .card .inner img:hover {
  transform: translateY(-3rem) rotate(1turn);
}
.display-card .card .inner h4 {
  font-weight: 600;
}
.display-card .card .inner p {
  color: #22ba75;
  text-transform: capitalize;
  margin-top: 0.5rem;
  margin-bottom: 30px;
}
.display-card .card .inner a {
  background-color: #22ba75;
  position: relative;
  bottom: -20px;
  padding: 10px;
  border-radius: 10rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.layer {
  position: fixed;
  inset: 0px;
  z-index: 999;
  transition: 0.5s all;
}

.details-page .meal-name {
  font-size: 3rem;
  font-family: "Pacifico", serif;
  font-weight: 600;
}
.details-page .details-box {
  margin: 1.2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  row-gap: 1.5rem;
}
.details-page .details-box .image-side img {
  border-radius: 20px;
  margin-bottom: 1rem;
}
.details-page .details-box .image-side .youtube {
  background-color: #ff0000;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}
.details-page .details-box .image-side .source {
  background-color: #22ba75;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}
.details-page .details-box .table-side {
  background-color: white;
  padding: 1.2rem 0.8rem;
  position: relative;
  top: -10px;
  right: 0px;
  min-height: 22rem;
  border-radius: 20px;
}
.details-page .details-box .table-side h4 {
  padding: 0 0 0.7rem 0rem;
  border: none;
  border-bottom: 4px rgba(128, 128, 128, 0.37) solid;
}
.details-page .details-box .table-side li {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0rem;
  border-bottom: 2px rgba(128, 128, 128, 0.37) solid;
}
.details-page .details-box .table-side li:last-child {
  border-bottom: 0px rgba(128, 128, 128, 0.37) solid;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
.loader-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.ingredients-page {
  padding: 4rem 0.5rem;
}
.ingredients-page h2 {
  font-size: 2.25rem;
}
.ingredients-page .ingredients-box {
  padding: 3rem 0rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.ingredients-page .ingredients-box .ingredients-item {
  text-align: center;
  padding: 0px 10px;
}
.ingredients-page .ingredients-box .ingredients-item .inner {
  border-radius: 15px;
  padding: 10px 0;
  background-color: rgba(128, 128, 128, 0.411);
  transition-duration: 0.3s;
}
.ingredients-page .ingredients-box .ingredients-item .inner:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.ingredients-page h3 {
  font-size: 1.3rem;
}

.area-page {
  padding: 4rem 0.5rem;
}
.area-page h2 {
  font-size: 2.25rem;
}
.area-page .area-box {
  padding: 3rem 0rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.area-page .area-box .area-item {
  text-align: center;
  padding: 0px 10px;
}
.area-page .area-box .area-item .inner {
  border-radius: 15px;
  padding: 10px 0;
  background-color: rgba(128, 128, 128, 0.411);
  transition-duration: 0.3s;
}
.area-page .area-box .area-item .inner:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.area-page h3 {
  font-size: 1.3rem;
}/*# sourceMappingURL=index.css.map */